
<template>
  <!-- eslint-disable max-len -->
  <div
    class="container"
    v-if="isLoading"
  >
    Enviando...
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold color-aqua">¡Muchas gracias!</h1>
    <p>En breve me comunicaré personalmente contigo.</p>
  </div>
  <form id="the-form" v-else @submit.prevent="sendForm" class="col-sm-7 formclass">
    
    <div
      class=" bg-yellow-400 rounded p-2 mb-4 text-center"
      v-if="formHasError"
    >
      <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
    </div>
   <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
   <div class="flex">
   <div class="  md:w-1/6   ">

    </div>

    <div class=" flex-wrap w-full  mb-6  md:w-4/6 md:p-4   ">
      <label class="font-raleway">Nombre completo</label><br>
      <input id="basic-first-name"  v-model="model.Nombre" type="text" name="email" required="required" placeholder=" Nombre completo"
        class="w-full md:3/4 lg:w-2/4   border-naranja border-2 p-4"><br>
     
      

      <div class="w-full flex">

        <div class="w-full lg:w-1/2 ">
          <label class="font-raleway">Correo electrónico</label><br>
          <input id="basic-first-name"    v-model="model['Correo']" type="email" name="first_name" required="required" placeholder=" Correo electrónico"
        class="w-full  border-naranja border-2 p-4"><br>

        </div>
        <div class="invisible h-0 w-0 lg:w-1/2 lg:visible">
          <label class="font-raleway ml-4">Estoy interesado en:</label><br>
          <input id="basic-first-name" v-model="model.Mensaje" type="text" name="first_name"  required=""
            placeholder="Estoy interesado en:" class="w-full ml-4   border-naranja border-2 p-4"><br>

        </div>


      </div>


      <div class="w-full flex">

        <div class="w-full lg:w-1/2 ">
          <label class="font-raleway">Número móvil</label><br>
          <input   v-model="model['Teléfono']" id="basic-first-name" type="text" name="first_name" required="required"
            placeholder=" Teléfono de contacto" class="w-full   border-naranja border-2 p-4"><br>

        </div>
        <div class="invisible w-0 h-0 lg:w-1/2 lg:visible lg:p-6">
          <label class="font-raleway">
             <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto aviso de privacidad</label><br>
          <button
          type="submit"
          class="transition ease-in duration-300  inline-block text-sm px-4 py-2 leading-none border rounded text-white border-naranja-light bg-naranja-light hover:bg-naranja hover:border-transparent hover:text-white  mt-4 lg:mt-0"
        >
          Enviar
        </button>
        </div>


      </div>

<!--version moviol-->
      <div class="visible lg:invisible lg:h-0">
        <label class="font-raleway">Estoy interesado en:</label><br>
        <input id="basic-first-name2" v-model="model.Mensaje"  type="text" name="first_name" required="required"
          placeholder=" Estoy interesado en:" class="w-full md:3/4 lg:w-2/4  border-naranja border-2 p-4 mb-5"><br>
        <label class="font-raleway">
          <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto aviso de privacidad</label><br>
         <button
          type="submit"
          class="transition ease-in duration-300  inline-block text-sm px-4 py-2 leading-none border rounded text-white border-naranja-light bg-naranja-light hover:bg-naranja hover:border-transparent hover:text-white  mt-4 lg:mt-0"
        >
          Enviar
        </button>
      
      </div>


    </div>

    <div class="   md:w-1/6   ">

    </div>
   </div>
  </form>
  <!-- eslint-enable max-len -->
</template>
<script>
import axios from 'axios';
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric', 
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        'E-mail': '',
        Teléfono: '',
        'Mensaje': ''
      }
    };
  },
  
  methods: {
    sendForm() {
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;

          console.log('Sending to analiticas');
          //window.gtag('event', 'generate_lead', {
           // event_label: 'Formulario de contacto enviado.',
            //event_category: 'engagement'
         // });
         // console.log('Sending to addwords');
        //  window.gtag('event', 'conversion', {
          //  send_to: 'AW-417466204'
         //});
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }

  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>
