

//boton flotante
.social{
  /*las imágenes usadas tienen width de 48px*/
 
  position: fixed;
  flex: auto;
  z-index: 1;
  right:0;
}

/* Extra centrado vertical*/

.social{
  /*border:1px solid #000;*/
  top:94%;
  height:205px;
  /*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
  margin-top:-100px;
}