<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Elsa Tortolero </title>

  <link href="~/css/tailwind.css" rel="stylesheet">
  <link href="~/css/dinamo.scss"  rel="stylesheet">
