  <!--Nav-->
  <nav class="flex items-center w-full justify-between flex-wrap bg-deeppurple text-white p-3 absolute">
	<div class="flex items-center flex-shrink-0 text-white  lg:ml-16">
		<img src="./img/iconoelsa.svg">
	</div>
	<div class="block lg:hidden">
		<button id='boton'
			class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
			<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<title>Menu</title>
				<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
			</svg>
		</button>
	</div>
	<div id='menu' class="w-full h-screen  block lg:h-auto  lg:flex lg:items-center lg:w-auto lg:mr-16">
		<div class="h-full align-middle  text-center justify-center font-Mitr  font-light text-base  text-white  lg:flex-grow">
			<a id='oculta' href="#acercademi" 
				class=" block my-6 lg:inline-block   transition ease-in duration-200 hover:text-naranja md:mt-4    md:mr-4">
				ACERCA DE MÍ
			</a>
			<a id='oculta2' href="#servicios"
				class=" block my-6 lg:inline-block transition ease-in duration-200 hover:text-naranja md:mt-4  md:mr-4">
				SERVICIOS
			</a>
			<a id='oculta3' href="#talleres"
				class="block my-6 lg:inline-block  transition ease-in duration-200 hover:text-naranja md:mt-4   md:mr-4">
				TALLERES
			</a>
			<a id='oculta4' href="#contacto"
				class="block my-6 lg:inline-block transition ease-in duration-200 hover:text-naranja md:m-4   md:mr-4">
				CONTACTO
			</a>
			<div class="flex justify-center visible lg:invisible lg:h-0">
			<img  src="./img/headermobil.png">
		</div>
		
		</div>
		<div>

		</div>
	</div>
</nav>