<header class="header bg-gray-400 flex-grow-0">
  <div class="brand bg-gray-300 p-4 w-full fixed md:static">
    <a href="index.html">
      <img class="brand sm:hiden md:w-full" src="~/img/rc-sign-blacktext.svg" alt="RC Sign">
    </a>
    <div class="burger-container">
      <label for="btn-burger__input" aria-label="Mostrar menú de navegación." title="Mostrar menú de navegación."
        class="btn-burger" id="hamburger">
        <span class="pan"></span>
        <span class="carne"></span>
        <span class="pan"></span>
      </label>
    </div>
  </div>
  <nav class="custom-nav nav flex flex-col fixed md:static">
    <a href="#" class="item selected">Bandeja de entrada</a>
    <a href="#" class="item">Notificaciones</a>
    <a href="#" class="item">Configuració</a>
    <a href="#" class="item">Ayuda</a>
  </nav>
</header>
