@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
@import 'components/media';
@import 'components/navbar';


$color-primary:#F5BF19;
$logo-max-width: 17rem;

